.checkout-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background-color: $light;
    border-radius: 17px;
    font: 900 16px $avenir;
    color: $gray-300;
    transition: $transition;
    &.active{
        background-color: $primary;
        color: $white;
        &:hover{
            background-color: $primary-hover;
        }
    }
}

.btn-primary{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    font: 900 16px $avenir;
    transition: $transition;
    color: $white;
    background-color: $primary;
    position: relative;
    &.w100{
        width: 100%;
    }
    .left-icon {
        position: absolute;
        left: 24px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
    }
    &:hover {
        background-color: $primary-hover;
    }
   @include media-down("sm"){
    height: 40px;
    font-size: 14px;
   }
}
.btn-black{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    font: 900 16px $avenir;
    transition: $transition;
    color: $white;
    background-color: $black;
    position: relative;
    &.w100{
        width: 100%;
    }
    .left-icon {
        position: absolute;
        left: 24px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
    }
    &:hover {
        background-color: $gray;
    }
   @include media-down("sm"){
    height: 40px;
    font-size: 14px;
   }
}

.btn-inside-icon {
    width: 100%;
    height: 44px;
    box-shadow: $box-shadow;
    border-radius: 10px;
    color: $black;
    transition: $transition;
    font: 900 14px $avenir;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    span {
        position: absolute;
        left: 10px;
    }
    &:hover {
        background-color: $light;
    }
}

.add-adress-btn {
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    height: 60px;
    font: 900 15px $avenir;
    margin: 0 20px;
    color: $primary;
    position: relative;
    span {
        position: absolute;
        right: 15px;
    }
}
.edit-adress-btn {
    font: 900 15px $avenir;
    color: $white;
    border-radius: 10px;
    border: solid 1px $white;
    padding: 4px 10px;
}