html {
    scroll-padding-top: 84px;
}
html,
body {
    scroll-behavior: smooth;
}
body {
    @include media-down("lg") {
        &.mobile-block {
            overflow: hidden;
            position: relative;
            height: 100%;
        }
    }
}
.overflow-hidden{
    overflow: hidden !important;
}
