.banner-wrap {
    height: 220px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    &:not(:first-child) {

        margin-top: 40px;
    }
}

.page-title {
    position: absolute;
    display: flex;
    align-items: center;
    height: 220px;
    left: 0;
    right: 0;
    padding-left: 160px;
    background-size: cover;
    background-position: center;
    @include media-down("md") {
        padding-left: 0;
        justify-content: center;
    }
    h2 {
        position: relative;
        z-index: 2;
        font: 800 32px $avenir;
        color: $white;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgb(245, 71, 72);
        background: linear-gradient(90deg, rgba(245, 71, 72, 1) 20%, rgba(255, 255, 255, 0) 100%);
    }
}
